<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default_layout}"
>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/post.js}"></script>
</th:block>

<main layout:fragment="content">
    <div class="container">
        <input type="hidden" id="id" name="id" th:value="${post.id}"/>
        <div>
            <h3 th:text="${post.title}"></h3>
        </div>
        <div>
            <div th:utext="${post.content}" ></div>
        </div>
        <div>
            <div th:text="${post.tagString}"></div>
        </div>
        <!-- Admin 권한이 있는 경우 -->
        <th:block sec:authorize="hasRole('ADMIN')">
            <div>
                <button><a th:href="'/post/edit/'+${post.id}">edit</a></button>
            </div>
            <div>
                <button><a th:href="'/post/delete/'+${post.id}">delete</a></button>
            </div>
        </th:block>

        <!-- 인증 상태에 따른 댓글 입력 -->
        <div>
            <span th:text="comments"></span>
            <div>
                <input type="text" placeholder="GitHub 로그인 후 댓글을 입력해주세요" id="comment-content" name="comment-content"
                       th:disabled="${#authorization.expression('!isAuthenticated()')}"/>
                <button type="button" th:if="${#authorization.expression('isAuthenticated()')}" id="btn-save-comment">저장</button>
                <button type="button" th:if="${#authorization.expression('!isAuthenticated()')}" id="github-login"><a href="/oauth/login">GitHub 로그인</a></button>
            </div>
        </div>
        <!-- 댓글 표시 -->
        <div>
            <th:block th:each="comment, status: ${post.commentList}">
                    <div class="row">
                        <div>[[${comment.user.email}]]</div>
                        <div>[[${comment.content}]]</div>
                        <div>[[${comment.createdAt}]]</div>
                    </div>
            </th:block>
        </div>
    </div>
</main>
</html>