<!DOCTYPE html>
정<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default_layout}"
>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/post.js}"></script>
</th:block>

<main layout:fragment="content">
    <div class="container">
        <input type="hidden" id="id" name="id" th:value="${post.id}"/>
        <div>
            <h3 th:text="${post.title}"></h3>
        </div>
        <div>
            <div th:utext="${post.content}" ></div>
        </div>
        <div>
            <div th:text="${post.tagString}"></div>
        </div>
        <th:block sec:authorize="hasRole(T(com.project.myBlog.entity.RoleType).ADMIN)">
            <div>
                <button><a th:href="'/post/edit/'+${post.id}">edit</a></button>
            </div>
            <div>
                <button id="btn-delete">delete</button>
            </div>
        </th:block>
    </div>
</main>
</html>



