<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default_layout}"
>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/post.js}"></script>
</th:block>

    <main layout:fragment="content">
        <div class="container postContainer">
            <div class="row postRow">
                <th:block th:each="post, status: ${postList.getContent()}">
                    <div class="col-md-4 postCardBox">
                        <a th:href="'/post/'+${post.id}" class="card-link">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">[[${post.title}]]</h5>
                                    <th:block sec:authorize="hasRole('ADMIN')">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">수정</a>
                                                <a class="dropdown-item" href="#">삭제</a>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="card-body">
                                    <div th:if="${not #lists.isEmpty(post.imageList)}" class="thumbnailBox">
                                        <img th:src="${'/image/'+post.imageList[0].id}" class="card-img-top thumbnail" alt="Thumbnail">
                                    </div>
                                    <div th:if="${#lists.isEmpty(post.imageList)}" class="thumbnailBox">
                                        <img th:src="${'/image/4'}" class="card-img-top thumbnail" alt="Thumbnail">
                                    </div>
                                    <p class="card-text">
                                        <span th:text="${post.textOnlyContent}+'...'"></span>
                                    </p>
                                </div>
                                <div class="card-footer text-muted">
                                    조회: [[${post.count}]] | 작성: <span th:text="${#temporals.format(post.createdAt, 'yyyy-M-d HH:mm')}"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>

        <ul class="pagination justify-content-center" th:if="${postList.totalPages > 1}">
            <li class="page-item" th:classappend="${postList.first} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'/post?page='+=0}">First</a>
            </li>
            <li class="page-item" th:classappend="${postList.first} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'/post?page='+${postList.number-1}}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, postList.totalPages-1)}">
                <a class="page-link" th:href="@{'/post?page=' + ${i}}" th:text="${i+1}"></a>
            </li>
            <li class="page-item" th:classappend="${postList.last} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'/post?page='+${postList.number+1}}">Next</a>
            </li>
            <li class="page-item" th:classappend="${postList.last} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'/post?page='+${postList.totalPages-1}}">Last</a>
            </li>
        </ul>
    </main>
</html>



