<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/post.js}"></script>
</th:block>

<main layout:fragment="content">
    <div class="container">
        <form>
            <input type="hidden" id="uuid" th:value="${uuid}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" placeholder="Enter title" id="title">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control summernote" rows="5" id="content"></textarea>
            </div>
            <div class="form-group">
                <label for="tagString">태그</label>
                <input type="text" class="form-control" id="tagString" name="tagString" placeholder="#태그입력 #띄어쓰기로 #구분됩니다."/>
            </div>
            <label for="hiddenStat">비밀글 설정</label>
            <input type="checkbox" id="hiddenStat" name="hiddenStat" value="false"/>
            <label for="portFolioStat">포트폴리오 설정</label>
            <input type="checkbox" id="portFolioStat" name="portFolioStat" value="false"/>
        </form>
        <button id="btn-save" class="btn btn-primary">작성 완료</button>
    </div>
</main>
</html>