
.lop{
    margin-top: 10px;
    color: var(--font1)!important;
    border-radius: 2px;
    margin-top: 15px;
    background:var(--background2);
}
.lop span {
    border-bottom: solid var(--font1) 0.1em!important;  
    
  }
  .post{
    padding: 150px;
  }



/* 
.menu{
    color: var(--font1);   
}




.up{
    text-align: center;
    height: 15vh;
    user-select: none;
}
.lab{
    line-height: 15vh;
    color: var(--font1);
    font-size: 100px;
}




.main{
    overflow-y:scroll;
}

.down{
    color: var(--font2);
    font-size:x-large;
}
.down div,button {
    transform: translateX(-5%);
}
.down button {
    display: block;
    margin-left: 70px;
}
.computer{
    display: block;
}

.computer h1{
    text-align: center;
    font-size:x-large;
}

.medical{
    display: block;
}
.medical h1{
    font-size:x-large;
    text-align: center;
    transform: translateX(-6%);

}

.policy h1{
    font-size:x-large;
    text-align: center;
    transform: translateX(-8%);
}









/* 
.left h1{
    text-align: left;
    transform: translateX(13%);
    font-size: 15px;
}
.left h2{
    text-align: left;
    transform: translateX(18%);
    font-size: 20px;
    margin-top: 5%;
}    

.left ul{
text-align: left;
transform: translateX(1%);
} */