<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<main layout:fragment="content">
 
      <div class="stat">
        <div class="box1"><input type="text" value=" 4 "><span> 총 방문자</span></div>
        <div class="box2"><input type="text" value=" 2 "><span> 총 포스팅</span></div>
        <div class="box3"><input type="text" value=" 0 "><span> 오늘 방문자</span></div>
        <div class="box4"><input type="text" value=" 2 "><span> 블로 운영</span></div>
      </div>

      <div class="welcome">
        <p>WELCOME</p>
      </div>
     

      <div class="slide">
        <h1>my folow list</h1>
        <p>its a slide zone for show 'folow list'</p>
      </div>


      <div class="posts">
        <h1>lately post</h1>
        <p>Lorem ipsum dolor sit voluptate consequatur repudiandae accusamus, cupiditate eaque adipisci nulla alias ad voluptate consequatur repudiandae cum!tate consequatur repudiandae cum!Lorem ipsum dolor sit voluptate consequatur repudiandae accusamus, cupiditate eaque adipisci nulla alias ad voluptate consequatur repudiandae cum!tate consequatur repudiandae cum!Lorem ipsum dolor sit voluptate consequatur repudiandae accusamus, cupiditate eaque adipisci nulla alias ad voluptate consequatur repudiandae cum!tate consequatur repudiandae cum!Lorem ipsum dolor sit voluptate consequatur repudiandae accusamus, cupiditate eaque adipisci nulla alias ad voluptate consequatur repudiandae cum!tate consequatur repudiandae cum!</p>
      </div>
</main>

   

   
   
   
   
   
   
   
   
   

</html>