<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<main layout:fragment="content">
 
      <div class="stat">
        <div class="box1"><input type="text" value=" 4 "><span> 총 방문자</span></div>
        <div class="box2"><input type="text" value=" 2 "><span> 총 포스팅</span></div>
        <div class="box3"><input type="text" value=" 0 "><span> 오늘 방문자</span></div>
        <div class="box4"><input type="text" value=" 2 "><span> 블로 운영</span></div>
      </div>

      <div class="welcome">
        <p>WELCOME</p>
      </div>
     

      <div class="slide">
        <h1>my folow list</h1>
        <p>its a slide zone for show 'folow list'</p>
      </div>


      <div class="posts">
        <h1>lately post</h1>
        <p>Lorem ipsum dolor sit voluptate consequatur repudiandae accusamus, cupiditate eaque adipisci nulla alias ad voluptate consequatur repudiandae cum!tate consequatur repudiandae cum!Lorem ipsum dolor sit voluptate consequatur repudiandae accusamus, cupiditate eaque adipisci nulla alias ad voluptate consequatur repudiandae cum!tate consequatur repudiandae cum!Lorem ipsum dolor sit voluptate consequatur repudiandae accusamus, cupiditate eaque adipisci nulla alias ad voluptate consequatur repudiandae cum!tate consequatur repudiandae cum!Lorem ipsum dolor sit voluptate consequatur repudiandae accusamus, cupiditate eaque adipisci nulla alias ad voluptate consequatur repudiandae cum!tate consequatur repudiandae cum!</p>

      1. 한줄마다 자동정렬,
      2. 디버깅 테스트,제로 테스트
      3. 네이밍. (쿼리에 적용될 수도 더 중요하다)

      </div>
</main>


<!--<div class="foot">
    <div class="footer">user flow / session history</div>
</div>-->
   
   

   
   
   
   
   
   
   
   
   

</html>